<!DOCTYPE html>
<html>
<style>
    /*set border to the form*/

    form {
        border: 3px solid #f1f1f1;
    }

    /*assign full width inputs*/

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /*set a style for the buttons*/

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    /* set a hover effect for the button*/

    button:hover {
        opacity: 0.8;
    }

    /*set extra style for the cancel button*/

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /*centre the display image inside the container*/

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    /*set image properties*/

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    /*set padding to the container*/

    .container {
        padding: 16px;
    }

    /*set the forgot password text*/

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /*set styles for span and cancel button on small screens*/

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
    }
</style>

<head>
    <script>
        function resetPassword() {
            const password = document.getElementById('password').value;
            if (password.length === 0) {
                document.getElementById("test").innerHTML = "Please Provide Password";
                return;
            }

            fetch("https://{{domain}}/api/v1/auth/reset-password/{{resetId}}/" + password +"/{{type}}"+ )
                .then(function (response) {
                    console.log(response);
                    return response.json()
                }).then((res) => {
                    console.log(res);
                    if (!res || res.status === 'failure') {
                        document.getElementById("test").innerHTML = "Unable To Update Password Please Try Again";
                    } else {
                        document.getElementById("test").innerHTML = "Password Updated Successfully";
                        document.getElementById('passwordButton').style.display = 'none';
                    }
                })
        }
    </script>
</head>

<body>

    <h2>Reset Form</h2>
    <!--Step 1 : Adding HTML-->
    <form action="/action_page.php">


        <div class="container">


            <label><b>Reset Password </b></label>
            <input id="password" type="text" placeholder="Enter Password" name="psw" required>
            <div id="test"></div>
            <button id="passwordButton" type="button" onclick="resetPassword()">Reset Password</button>
        </div>


    </form>

</body>

</html>

