<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>LOGIN</title>
    <style type="text/css">
        p,
        h1,
        h2,
        h4,
        h5 {
            padding: 0;
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;
        }

        /* .table td {
            border-left: 0;
            border-bottom: 0;
            border-top: 0;
            padding: 10px 10px 10px 10px;
        } */
        @media (max-width:- 991px) {
            .template_sec {
                width: 100% !important;
            }
        }

        .sec_top_bg::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: 150px;
            background-color: #f4f7fc;
            -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
            z-index: -1;
        }
    </style>
</head>

<body
    style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #f4f7fc; font-family: 'Nunito', sans-serif !important;">
    <section class="sec_top_bg" style="height: 400px;width: 100%;background-image: linear-gradient(to right, #fca300, #fa1d72); position: relative;    padding-top: 5%;    z-index: 9;
        ">
        <section class="invoice_sec" style="width: 60%;
    margin: 0 auto 0 auto;
    background-color: #fff;    border-radius: 4px;
    padding: 20px 50px 20px 50px;    z-index: 99999999;
    overflow: visible;">
            <!-- Top_Logo_Box -->
            <div class="top_box" style="text-align: center;">
                <div class="logo" style="padding: 0 0 0 0;">
                    <img src="/public/logo.svg" alt="logo" style="    width: 35%;">
                </div>
                <div class="top_thanks_box" style="
            margin: 15px auto;
            border-top: 1px solid #CBCBCB;
            padding: 25px 0 15px 0;
">
                    <h2 style="
                margin: 0px 0 5px 0;
                padding: 0;
                font-size: 24px;
                color: #F87128;font-weight: 600;
            ">Welcome to Dental Interface 360</h2>
                </div>
            </div>
            <div>
                <p style="    padding: 0;
                margin: 0 0 6px 0;
                font-size: 18px;
                letter-spacing: 0;
                font-weight: 700;
                padding-left: 15%;
        color: #232323;
    ">Hi,</p>
                <p style="    padding: 0 50px 0 15%;
            margin:  0 0 6px 0;
            font-size: 20px;
            letter-spacing: 0;
            font-weight: 600;            
    color: #232323;"><%= message %></p>
                <p style="    padding: 0 50px 0 15%;
    margin: 0 0 6px 0;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 700;
color: #232323;">Click below to go to the website and complete registration process</p>
                <a href="https://dental-360-front.web.app/sign-up/<%= subscriptionId %>/<%= leadId %>" target="_blank" type="button" style="    margin: 15px 0 0px 15%;
                    background-color: #EF6A30;
                    height: 38px;
                    line-height: 38px;
                    border: 1px solid #EF6A30;
                    border-radius: 8px;
                    color: #fff;
                    padding-left: 30px;
                    padding-right: 30px;
                    cursor: pointer;
                    font-size: 18px;
                    font-family: 'Nunito' !important;text-decoration: none;
                   display: inline-block;">Click Here</a>
            </div>
            <div style="    margin: 15px 0 30px 0;">
                <h4 style="    padding: 0 0 0 15%;
                font-size: 20px;
                font-weight: 800;
                margin: 25px 0 5px 0;
                color: #121212;">Regards,</h4>
                <h4 style="    padding: 0 0 0 15%;
        font-size: 18px;
        font-weight: 800;
        margin: 0px 0 0 0; color: #121212;">Team DI360</h4>
            </div>
            <footer>
                <div class="store_icons" style=" padding: 25px 0 25px 0;
                border-top: 1px solid #ccc;
                text-align: center;">
                    <p style="margin: 0 0 10px 0;
                    padding: 0;
                    font-size: 16px;
                    letter-spacing: 0;
                    color: #232323;
                    font-weight: 600;">Download Dental Interface 360 App</p>
                    <div class="" style="    display: flex;
                    align-items: center;
                    justify-content: center;">
                        <img src="/public/ios.png" alt="" style="
                        height: 100%;    margin-right: 10px;cursor: pointer;">
                        <img src="/public/play.png" alt="" style="
                        height: 100%;     margin-right: 10px;cursor: pointer;">
                    </div>
                    
                </div>
                <div class="footer_logo" style="cursor: pointer;
                margin-top: 10px;
                padding-bottom: 25px;    text-align: center;
            ">
                    <img src="/public/logo.svg" alt="" style="width: 20%">
                </div>
            </footer>
        </section>
        <!-- Queries -->
        <div style="text-align: center;
    padding: 40px 0 20px 0;">
            <p style="    color: #888888;
        font-weight: 500;
        letter-spacing: 0;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 10px;">If you have queries feel free to contact us</p>
            <a href="" style="    color: #EF6A30;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;">support@denalsuite360.com</a>
        </div>
    </section>
</body>

</html>